<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Bem vindo a <%= title %></p>
  <h3><a href="/account/create">Criar conta</a></h3>
  <h3><a href="/account/login">Fazer login</a></h3>
</body>

</html>