<!DOCTYPE html>
<html>
  <head>
    <title>Account Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Account Detail</h1>
      <table>
        <tbody>
        <tr>
            <td>Id</td>
            <td>:</td>
            <td><%= account._id %></td>
            </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= account.name %></td>
          </tr>
          
          <tr>
            <td>Password</td>
            <td>:</td>
            <td><%= account.password %> </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3><a href="/accounts">Ver todas as accounts</a></h3>
  </body>
</html>

