<html lang="en" >
 
<head>
  <meta charset="UTF-8">
  <title>Registar</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form class="login" action="/accounts/create" method="post">
  <input type="text" placeholder="Username" name="name" required>
  <input type="password" placeholder="Password" name="password" required>
  <button type="submit">Registar</button>
  <h3><a href="/accounts">Ver todas as accounts</a></h3>
</form>
<!-- partial -->
  
</body>

</html>
